@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins";
}

.footer-bg {
  background-image: url("/assets/image/footerbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  transition: color 0.3s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
